# cp ./civitai-firehose.service /home/jackkendall/.config/systemd/user/civitai-firehose.service
# systemctl --user daemon-reload
# systemctl --user enable civitai-firehose.service
# systemctl --user start civitai-firehose.service

[Unit]
Description=Civitai Firehose
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/jackkendall/.local/bin/CivitaiFirehose
ExecStart=/home/jackkendall/.dotnet/dotnet /home/jackkendall/.local/bin/CivitaiFirehose/CivitaiFirehose.dll

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:5124

Restart=always
RestartSec=10
KillSignal=SIGINT

CPUQuota=30%
MemoryMax=512M

StandardOutput=journal
StandardError=journal
SyslogIdentifier=civitai-firehose

[Install]
WantedBy=default.target